# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# R
.Rhistory
.RData
.Rproj.user/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Large raw data
data/raw/

# Processed data exports
*.csv
*.xlsx